<launch>
    <node name="dynamixel_node" type="dynamixel_ros_control_node" pkg="dynamixel_ros_control" output="screen">
        <rosparam file="$(find dynamixel_ros_control)/config/base.yaml" command="load"/>
        <param name="port_name" value="/dev/ttyUSB0"/>
        <param name="baudrate" value="1000000"/>
        <param name="rate" value="50"/>
    </node>

    <!-- <node name="dynamixel_node2" type="dynamixel_ros_control_node" pkg="dynamixel_ros_control" output="screen">
        <param name="port_name" value="/dev/ttyUSB1"/>
        <param name="baudrate" value="1000000"/>
    </node> -->
</launch>