<!-- for debugging -->
<launch>
    <rosparam file="$(find dynamixel_ros_control)/config/controller_head.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true"
                output="screen"  args="joint_state_controller
                                       screen_tilt_controller
                                       pan_controller
                                       tilt_controller
                                       "/>
</launch>
